/*------------BODY-------------*/
body {
    font-family: "Light";
    margin: 0;
}

/*------------HEADER-------------*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: auto;
    height: 570px;

    background-image: url(img/inici.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    font-family: Thin;

    padding: 15px;
    margin-top: 45px;
    /*border: 1px solid red;*/

    color: white;
    text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px rgb(255, 255, 255),
        0 0 30px rgb(255, 255, 255),
        0 0 40px rgb(255, 255, 255),
        0 0 55px rgb(255, 255, 255),
        0 0 70px rgb(255, 255, 255);
}

/*------------NAV-------------*/
#navegador {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    color: #333;
    height: 6%;
    background-color: rgb(255, 255, 255);
}

#navegador ul {
    list-style-type: none;
    overflow: auto;
    letter-spacing: 5px;
    font-weight: bold;
    white-space: nowrap;
}

#navegador li {
    display: inline-block;
}

#navegador li a {
    font-size: 10px;
    font-family: Regular;
    padding: 8px 20px;
    display: block;
    
    color: #333;
    text-decoration: none;
}

#navegador li a:hover {
    color: rgb(0, 0, 0);
    font-size: 10.2px;
    letter-spacing: 5px;
}

/*------------NAV REDUIT-------------*/
#navegador_reduit {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: hsl(0, 0%, 100%);
    color: #777;
}

#navegador_reduit ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    color: #333;
    overflow: hidden;

}

#navegador_reduit li {
    float: left;
    font-size: 1.5vw;
}

#navegador_reduit li a,
.logo {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 20px;
}

#navegador_reduit li.llistat {
    display: inline-block;
}

#navegador_reduit .llistat-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#navegador_reduit .llistat-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 10px;

    letter-spacing: 5px;
    font-family: Regular;
    display: block;
    text-align: left;
}

#navegador_reduit .llistat-content a:hover {
    background-color: #f1f1f1;
    font-size: 10.2px;
}

#navegador_reduit .llistat:hover .llistat-content {
    display: block;
}

/*------------SECTION-------------*/
section {
    display: flex;
    justify-content: center;
    width: auto;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.arts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------ARTICLE 1-------------*/
#art1 {
    width: 35%;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

#art1 h2 {
    font-size: 30px;
}

#art1 h1 {
    font-size: 23px;
    line-height: 25px;
    color: #333;
    padding-bottom: 3%;
}

#art1 p {
    line-height: 25px;
    color: #333;
}

/*------------ARTICLE 2-------------*/
#art2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

/*------------ARTICLE 3-------------*/
#art3 {
    width: 90%;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

#art3 div {
    columns: 2;
}

#art3 h2 {
    font-size: 30px;
    text-align: center;
}

#art3 h1 {
    text-align: center;
    font-size: 23px;
    line-height: 25px;
    color: #333;
    padding-bottom: 3%;
}

#art3 p {
    line-height: 25px;
    color: #333;
    font-size: 1vw;
}
/*------------ARTICLE 4-------------*/
#art4 {
    width: 100%;
    margin-top: 5%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    background-color: #161310;
}
#art4 iframe{
    width:100%;
    height:500px;
}
/*------------ARTICLE 5-------------*/
#art5 {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#art5 iframe{
    width:50%;
    height: 400px;
    box-shadow: 0px 10px 10px -6px black;
    border-radius: 10px;
}
/*------------MAP-------------*/
#art6 {
    border-top: 10px solid rgba(128, 128, 128, 0.027);
    padding-top: 3%;
    padding-bottom: 5%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
} 
#art6 #text{
    text-align: center;
    width: 100%;
    padding-bottom: 1.5%;
} 
#art6 #iframe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#art6 #iframe iframe{
    border-radius: 10px;
    border:0px solid white;
    width:80%;
    height:450px;
}


/*------------FOOTER-------------*/
footer {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    justify-content: center;
    background-color: #161310;
    color: white;
}

#global {
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.links {
    padding: 25px;
    width: auto;
    flex-direction: column;
}

.links p,
.links h1,
#social h1 {
    justify-content: center;
    padding: 0%;
    font-size: 15px;
}

#social {
    padding: 25px;
    width: auto;
    flex-direction: column;
}

#social div {
    width: 100px;
}

#social img {
    margin: 10px;
}

.links a,
#social a {
    text-decoration: none;
    color: rgb(161, 161, 161);
}

#null {
    color: white;
    padding-left: 3%;
    font-size: 15px;
    width: 97%;
    font-family: "Light";
    background-color: black;
}

/*------------FONTS-------------*/
@font-face {
    font-family: "Thin";
    src: url("fonts/Lato/Lato-Thin.ttf") format("OpenType");
}

@font-face {
    font-family: "Light";
    src: url("fonts/Lato/Lato-Light.ttf") format("OpenType");
}

@font-face {
    font-family: "Regular";
    src: url("fonts/Lato/Lato-Regular.ttf") format("OpenType");
}

/*------------MEDIA QUERIES-------------*/
@media (min-width: 0px) and (max-width: 575.98px) {
    header h1 {
        font-size: 5vw;
        letter-spacing: 10px;
    }

    #navegador {
        display: none;
    }

    #art1 {
        width: 90%;
        margin-top: 40px;

        margin-bottom: 40px;
    }

    #art1 h2,
    #art3 h2 ,#art6 #text h2{
        font-size: 20px;
    }

    #art1 h1,
    #art3 h1 ,#art6 #text h1{
        font-size: 17px;
    }

    #art1 p,
    #art3 p {
        font-size: 15px;
    }

    #art2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #art2 img {
        margin: 2%;
        width: 70%;
    }

    #art3 div {
        columns: 1;
    }
    #art4 iframe{
        width:70%;
        height:400px;
    }
    #art5 {
        flex-direction: column;
    }
    #art5 iframe{
        margin-top: 2%;
        margin-bottom: 2%;
        width:90%;
        height:300px;
    }
    #art6 #iframe iframe{
        width:80%;
        height:450px;
    }

    footer ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    header h1 {
        font-size: 3vw;
        letter-spacing: 10px;
    }

    #navegador {
        display: none;
    }

    #art1 {
        width: 80%;
    }

    #art2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #art3 div {
        columns: 1;
    }

    #art3 p {
        font-size: 2vw;
    }

    #art2 img {
        margin: 2%;
        width: 70%;
    }
    #art4 iframe{
        width:70%;
        height:500px;
    }
    #art5 {
        flex-direction: column;
    }
    #art5 iframe{
        margin-top: 2%;
        margin-bottom: 2%;
        width:80%;
        height:400px;
    }

    footer ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    header h1 {
        font-size: 2.5vw;
        letter-spacing: 20px;
    }

    #navegador {
        display: none;
    }

    #art1 {
        width: 80%;
    }

    #art3 p {
        font-size: 1.5vw;
    }
    #art4 iframe{
        width:80%;
        height:500px;
    }
    #art5 {
        flex-direction: column;
    }
    #art5 iframe{
        margin-top: 2%;
        margin-bottom: 2%;
        width:80%;
        height:400px;
    }

    footer ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    header h1 {
        font-size: 2vw;
        letter-spacing: 30px;
    }

    #navegador_reduit {
        display: none;
    }

    #art1 {
        width: 60%;
    }

    #art3 p {
        font-size: 1.5vw;
    }
    #art5 iframe{
        height: 300px;
        margin-left: 2%;
        margin-right: 2%;
    }

    footer ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    header h1 {
        font-size: 1.5vw;
        letter-spacing: 40px;
    }

    #navegador_reduit {
        display: none;
    }

    #navegador li a {
        font-size: 0.6vw;
    }

    #navegador li a:hover {
        font-size: 0.65vw;
    }

    #art1 p {
        font-size: 1vw;
        line-height: 2vw;
    }

    #art3 p {
        font-size: 1vw;
        line-height: 2vw;
    }
    #art5 iframe{
        margin-left: 2%;
        margin-right: 2%;
    }

    footer ul {
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .links p,
    .links h1,
    #social h1 {
        font-size: 1vw;
    }

    #null {
        font-size: 1vw;
    }

    #social div {
        width: 50%;
    }
    #social img {
        width: 1.5vw;
    }
}